#rock{
    background: none;
    border: none;
    cursor: pointer;
}

/* Animacion de vibracion */
@keyframes vibrate {
    0% { transform: translate(0); }
    25% { transform: translate(-6px, 6px); }
    50% { transform: translate(-3px, -3px); }
    75% { transform: translate(2px, 2px); }
    100% { transform: translate(0); }
  }
  
  .vibrate {
    animation: vibrate 0.3s;
  }

  #particle-container {
    position: absolute; /* Cambiado a absolute para que cubra el área de la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no interfiera con los clics */
}

.particle {
    position: absolute;
    z-index: 1;
    width: 15px; /* Tamaño de la partícula */
    height: 15px; /* Tamaño de la partícula */
    background-color: rgb(51, 51, 51); /* Color de la partícula */
 
    pointer-events: none; /* No interfieren con los clics */
}

.cantParticle{
    position: absolute;
    left:  30px;
    z-index: 1;
}

/* Barra de vida */

#healthContainer{
    background-color: black;
    max-width: 400px;
    height: 30px;
    overflow: hidden;
}

#health{
    height: 100%;
    width: 100%;
    background-color: green;
    transition: width 0.5s ease; /* Animación para hacer más suave el cambio de tamaño */
}


/* Actualizaciones */

.update{
    background: rgb(228, 255, 228);
    transition: all 200ms ease;
    cursor: pointer;
}

.update:hover{
background-color: rgb(120, 148, 97);
}